.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    height: 900px;
    background: url('./img/5w3h_b482_220311.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  
  .form-card {
    width: 50%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .form-header {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .form-body {
    padding: 10px;
  }
  
  .form-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .btn-primary,
  .btn-secondary {
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: white;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    color: white;
  }
  
  .btn-secondary:hover {
    background-color: #5a6268;
  }
  